<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rootkit" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>rootkit</name>
  <js-module name="rootkit" src="www/rootkit.js">
    <clobbers target="cordova.plugins.rootkit"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="rootkit">
        <param name="android-package" value="com.cnwidsom.rootkit.RootKitPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- 在application标签中声明service组件,每个app拥有自己单独的定位service -->
      <service android:name="com.cnwidsom.rootkit.ActivityMonitorService"></service>
    </config-file>
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:persistent="true"/>
    </edit-config>
    <source-file src="src/android/RootKitPlugin.java" target-dir="src/com/cnwidsom/rootkit"/>
    <source-file src="src/android/ProcessUtils.java" target-dir="src/com/cnwidsom/rootkit"/>
    <source-file src="src/android/RootUtils.java" target-dir="src/com/cnwidsom/rootkit"/>
    <source-file src="src/android/ActivityMonitorService.java" target-dir="src/com/cnwidsom/rootkit"/>
  </platform>
</plugin>
